<div >
  <mat-form-field >
    <input matInput [value]="filterValue ? filterValue : ''"
    placeholder="Search" (keyup)="updateValue($event.target.value)">
  </mat-form-field>

  <mat-form-field style="margin-left: 15px">
    <mat-select
      (selectionChange)="updatekey($event.value)"
      [value]="filterKey ? filterKey : 'search'">
      <mat-option
        *ngFor="let searchKey of searchKey"
        [value]="searchKey.value">
        {{ searchKey.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>